@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		font-family: 'Inter', system-ui, sans-serif;
		@apply h-screen text-base bg-neutral-100 dark:bg-neutral-950 text-neutral-900 dark:text-neutral-100;
	}

	.light {
		color-scheme: light;
	}

	.dark {
		color-scheme: dark;
	}
}
